.fit-cover {
  object-fit: cover;
}

.container .row:first-child {
  padding: 35px 10% 75px 10%;
}

@media (max-width:767px) {
  .container .row:first-child {
    padding: 35px 10% 75px 10%;
  }
}

.container {
  background: #fff;
}

a {
  border: none;
}

* {
  outline: none;
}

* {
  box-sizing: border-box;
}

