.container .row:first-child {
  padding: 35px 10% 75px 10%;
}

@media (max-width:767px) {
  .container .row:first-child {
    padding: 35px 10% 75px 10%;
  }
}

.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.container {
  background: #fff;
}

* {
  outline: none;
}

* {
  box-sizing: border-box;
}

