<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dtj Santoska</title>
    <link rel="icon" type="image/png" sizes="508x290" href="assets/img/dtj_small.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rajdhani&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="assets/css/aktualityheading.css">
    <link rel="stylesheet" href="assets/css/Articles-Cards-images.css">
    <link rel="stylesheet" href="assets/css/Call-to-Action-Div-with-Icon-Header--Button.css">
    <link rel="stylesheet" href="assets/css/containeraktuality.css">
    <link rel="stylesheet" href="assets/css/cteni.css">
    <link rel="stylesheet" href="assets/css/dh-row-text-image-right.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/historie-1.css">
    <link rel="stylesheet" href="assets/css/kontakt.css">
    <link rel="stylesheet" href="assets/css/Navbar-Centered-Brand-icons.css">
    <link rel="stylesheet" href="assets/css/navbar.css">
    <link rel="stylesheet" href="assets/css/plan.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer-.css">
</head>

<body style="background: rgb(248,249,250);">
    <nav class="navbar navbar-expand-md bg-body py-3">
        <div class="container"><a class="navbar-brand d-flex flex-column align-items-center" href="#"><img src="assets/img/dtj_small.png" width="116" height="61"><span style="font-size: 24px;">DTJ Santoška</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-3" style="font-size: 20px;">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">O nás</a></li>
                    <li class="nav-item"><a class="nav-link" href="historie.html">Historie</a></li>
                    <li class="nav-item"><a class="nav-link" href="aktuality.html">Aktuality</a></li>
                    <li class="nav-item"><a class="nav-link active" href="areal.html">Areál</a></li>
                    <li class="nav-item"><a class="nav-link" href="plan.html">Plán Akcí</a></li>
                    <li class="nav-item"><a class="nav-link" href="probehleakce.html">Proběhlé Akce</a></li>
                </ul><a href="kontakt.html"><button class="btn btn-primary" type="button" style="font-size: 20px;"><strong>Kontakt</strong></button></a>
            </div>
        </div>
    </nav>
    <section class="photo-gallery py-4 py-xl-5">
        <div class="container" style="padding-bottom: 26px;background: transparent;">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2><strong>Areál</strong></h2>
                    <p class="text-center w-lg-50"><strong>V rámci areálu lze využít:</strong></p>
                    <p class="text-start">✓ multifunkční hřiště, umělý povrch – vhodné zejména na tenis, volejbal, badminton apod.<br>✓ hřiště s umělou trávou 4. generace<br>✓ antukové hřiště<br>✓ workoutové hřiště<br>✓ kuželkovník<br>✓ petanque<br><br></p>
                    <p class="text-center w-lg-50"><strong>K dispozici:</strong></p>
                    <p class="text-start">✓ sociální zázemí, včetně sprch a šaten<br>✓ posilovna se zkušenými trenéry<br>✓ občerstvení (otevírací doba) s venkovním posezením<br>✓ venkovní gril<br>✓ ohniště</p>
                    <p class="text-center w-lg-50"><strong>Parkování:</strong></p>
                    <p class="text-start">✓ v&nbsp;přilehlých ulicích – fialová a modrá parkovací zóna</p>
                </div>
            </div>
            <div class="row gx-2 gy-2 row-cols-1 row-cols-md-2 row-cols-xl-3 photos" data-bss-baguettebox="" style="margin-top: -99px;">
                <div class="col item"><a href="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"><img class="img-fluid" src="assets/img/1.jpg"></a></div>
                <div class="col item"><a href="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"><img class="img-fluid" src="assets/img/4.jpg"></a></div>
                <div class="col item"><a href="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"><img class="img-fluid" src="assets/img/2.jpg"></a></div>
                <div class="col item"><a href="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"><img class="img-fluid" src="assets/img/IMG_9747.jpeg"></a></div>
                <div class="col item"><a href="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"><img class="img-fluid" src="assets/img/IMG_9748.jpeg"></a></div>
                <div class="col item"><a href="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"><img class="img-fluid" src="assets/img/1.jpg"></a></div>
            </div>
        </div>
    </section>
    <div style="margin: 0px;padding-top: 0px;padding-right: 80px;padding-left: 80px;">
        <h2 class="text-center"><strong>Provozní řád areálu</strong></h2>
        <hr style="color: black;">
        <p class="text-start" style="font-size: 14px;"><strong>1.&nbsp;</strong>&nbsp;&nbsp;&nbsp; Sportovní areál "Santoška" je určen ke sportovní a společenské činnosti. V rámci sportovní činnosti lze na otevřených venkovních sportovištích provozovat sporty: nohejbal, volejbal, tenis, malou kopanou, házenou, kuželky a petangue, dále je možné využívat workoutové hřiště. Provozní budovu areálu lze využívat ke společenským činnostem, ve vyhrazených prostorách lze doplňkově provozovat stolní tenis, aerobic, jógu apod.. V rámci provozu areálu je možné zapůjčit si sportovní náčiní, dle aktuální nabídky</p>
        <p class="text-start" style="font-size: 14px;"><strong>2.&nbsp;</strong>&nbsp;&nbsp;&nbsp; <strong>Běžná provozní doba areálu je od 15,00 do 22,00 hod. každého všedního dne</strong>, jiné časy po domluvě s pověřeným členem Správního výboru DTJ.<strong> Sezóna začíná každoročně 1. dubna a končí 31. října.</strong></p>
        <p class="text-start" style="font-size: 14px;"><strong>3.&nbsp;&nbsp;&nbsp;&nbsp; </strong>Sporty uvedené v čl.1 provozního řádu lze provozovat s odpovídajícím sportovním vybavením a oblečením, ve sportovní obuvi určené pro daný sport a příslušný povrch sportoviště. Na umělém i antukovém povrchu hřišť je<strong> výslovně zakázáno používat sportovní obuv s kolíky nebo hřeby</strong>, na antukovém povrchu pak obuv s ostrými hranami a hrubým vzorováním podrážky. Sportovní obuv do vnitřních prostor musí splňovat parametry sálové obuvi. Nelze používat sálovou obuv s černou podrážkou.</p>
        <p class="text-start" style="font-size: 14px;"><strong>4.</strong>&nbsp;&nbsp;&nbsp;&nbsp;<strong> Návštěvník sportuje vždy na vlastní nebezpečí</strong></p>
        <p class="text-start" style="font-size: 14px;"><strong>5.&nbsp;</strong>&nbsp;&nbsp;&nbsp; Vstup na otevřená venkovní sportoviště je členům DTJ Santoška povolen ve vyhrazeném čase stanoveném Správním výborem DJT Santoška. V ostatním čase pak, je-li volno, resp. v čase, kdy který není využívaný ostatními předplatiteli. Členům DTJ vzniká nárok na jednu cvičební jednotku ve vyhrazeném čase dle pořadí, v jakém si sportoviště rezervují. Plánované celodenní sportovní nebo společenské akce s blokací sportovišť budou členům DTJ včas oznámeny.</p>
        <p class="text-start" style="font-size: 14px;"><strong>6.&nbsp;</strong>&nbsp;&nbsp;&nbsp; Vstup na otevřená venkovní sportoviště DTJ Santoška je nečlenům povolen jen na základě rezervovaných pronájmů nebo na základě konání utkání, turnaje, nebo společenské akce pořádané příslušným oddílem DTJ Santoška. Smluvní pronájmy jsou vyznačeny v systému rezervace sportovišť, jednorázové pronájmy se hradí předem správci DTJ.</p>
        <p class="text-start" style="font-size: 14px;"><strong>7.</strong>&nbsp;&nbsp;&nbsp;&nbsp; <strong>Členové i nečlenové DTJ Santoška jsou povinni dodržovat rozvrh hodin, dbát pokynů správce, ve všech prostorách dodržovat pořádek a nahlásit správci areálu, nebo pověřenému členu Správního výboru DTJ vzniklou škodu, nebo závadu na majetku.</strong></p>
        <p class="text-start" style="font-size: 14px;"><strong>8.</strong>&nbsp;&nbsp;&nbsp;&nbsp; Vstup do šaten a sociálního zázemí je povolen 10 minut před zahájením cvičební jednotky dle časového rozvrhu. Vyklizení a předání šaten musí být provedeno do 15 minut po skončení cvičební jednotky dle časového rozvrhu.</p>
        <p class="text-start" style="font-size: 14px;"><strong>9.</strong>&nbsp;&nbsp;&nbsp;&nbsp; Cvičební jednotkou se rozumí 60 minut, které začínají v celou hodinu. Z této jednotky je 55 minut určeno na vlastní sportovní činnost a 5 minut na úpravu sportoviště. <strong>Návštěvník, který není členem jednoty, vždy vstupuje na sportoviště po uhrazení poplatku.</strong></p>
        <p class="text-start" style="font-size: 14px;"><strong>10.</strong>&nbsp;&nbsp;<strong> Zrušení rezervace sportoviště je nutné provést nejméně 12 hodin předem.</strong> V případě nevyužití rezervovaného času a nezrušení rezervace bude při následném pronájmu účtována částka pronájmu v plné výši.&nbsp;</p>
        <p class="text-start" style="font-size: 14px;"><strong>11.&nbsp;</strong>&nbsp; <strong>Členové DTJ Santoška jsou povinni zrušit rezervaci 12 hodin předem</strong>, pokud nedojde ke zrušení rezervace, bude jim při následném využití rezervované hodiny účtována částka pronájmu sportoviště v plné výši běžného pronájmu bez ohledu na uhrazený členský poplatek.</p>
        <p class="text-start" style="font-size: 14px;"><strong>12.&nbsp;</strong>&nbsp; <strong>Návštěvník opustí sportoviště po provedení úklidu sportoviště v případě, že součástí použití sportoviště je provedení úklidu návštěvníkem.</strong> Úklid provádí ve svém hrazeném časovém období, nikoli v období, kdy má na sportoviště nastoupit další návštěvník. Úklid provádí podle návodu viditelně umístěného na sportovišti, případně dle instrukcí správce areálu.</p>
        <p class="text-start" style="font-size: 14px;"><strong>13.</strong>&nbsp;&nbsp; Návštěvník má možnost zapůjčení sportovního náčiní. Cena půjčovného je stanovena v ceníku služeb. Návštěvník je povinen vrátit sportovní náčiní nepoškozené do 10-ti minut po ukončení hrací hodiny. V případě nedodržení tohoto pravidla je účtována za každou další započatou hodinu hodinová sazba půjčovného. V případě poškození zapůjčeného náčiní je stanovena pokuta ve výši 50 % celkové ceny zapůjčeného náčiní. V případě zničení zapůjčeného náčiní je stanovena pokuta ve výši 100 % celkové ceny náčiní</p>
        <p class="text-start" style="font-size: 14px;"><strong>14.</strong>&nbsp;&nbsp; Návštěvník je povinen ihned nahlásit správci areálu veškeré závady sportoviště či překážky bránící řádnému užívání sportoviště (dále jen „závady“). Tato ohlašovací povinnost návštěvníka se vztahuje na závady vzniklé před započetím užívání sportoviště příslušným návštěvníkem anebo na závady vzniklé v průběhu užívání sportoviště návštěvníkem. Do doby vyřešení situace příslušným oprávněným pracovníkem sportovního areálu (tímto se rozumí zejména úprava sportoviště, poskytnutí náhradního sportoviště či kompenzace) není návštěvníkovi dovoleno započít využívat sportoviště či v jeho využití pokračovat. V případě, že návštěvník nesplní tuto svou ohlašovací povinnost a bude sportoviště přes závady užívat, nenese provozovatel areálu jakoukoli odpovědnost za případnou škodu, která vznikne návštěvníkovi.</p>
        <p class="text-start" style="font-size: 14px;"><strong>15.&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; návštěvníkovi <strong>je na sportovištích zakázáno</strong> zejména:<br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vstupovat pod vlivem alkoholu či jiné návykové látky<br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;odhazovat odpadky<br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;provádět úpravy nebo ničit zařízení<br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;používat zařízení sportoviště k jiným účelům než je určeno<br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;kouřit, požívat alkohol či jiné návykové látky<br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vnášet cizí předměty – zejména sklenice a skleněné obaly apod.</p>
        <p class="text-start" style="font-size: 14px;"><strong>16.&nbsp;</strong>&nbsp; V případě nedodržení nebo hrubého porušení pravidel má správce sportovního areálu právo:<br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ukončit hru bez náhrady<br>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vykázat návštěvníka ze sportoviště, areálu</p>
    </div>
    <footer style="font-family: Rajdhani, sans-serif;width: 100%;">
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><img src="assets/img/dtj_small.png" width="148" height="73"></h3>
                <p class="text-start d-flex flex-column links"><a href="index.html">O nás</a><a href="historie.html">Historie</a><a href="aktuality.html">Aktuality</a><a href="areal.html">Areál</a><a href="plan.html">Plán Akcí</a><a href="probehleakce.html">Proběhlé Akce</a><a href="kontakt.html">Kontakt</a></p>
                <p class="company-name">DTJ Santoška © 2025</p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">Xaveriova 2, 150 000 Praha 5</span> Praha, Česká Republika</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-start"> +420 721 660 782</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">sdtj@dtjsantoska.cz</a></p>
                </div>
                <div><i class="fa fa-id-card footer-contacts-icon"></i>
                    <p class="footer-center-info email text-start">IČO: 69344094</p>
                </div>
                <div><i class="fa fa-bank footer-contacts-icon"></i>
                    <p class="footer-center-info email text-start">Bankovní účet: 264045966/0300</p>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column footer-about">
                <h4>Partneři</h4>
                <div><img width="145" height="73" src="assets/img/logo_praha1.png"><img width="93" height="83" src="assets/img/press-centrum-ke-stazeni-logo-cez.jpg" style="margin: 0px;margin-left: 0px;"></div>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>