{% extends 'base.html' %}
{% load static %}

{% block title %}DTJ Santoška - Článek{% endblock %}

{% block content %}
 <!-- Pridat clanek -->
<body style="background: rgb(248, 249, 250);">
    <div class="article-wrapper">
        <article>
            <div class="article-header">
                <h1 class="article-title">{{ article.title }}</h1>
                <div class="article-meta">
                    <span class="me-3">
                        <i class="fas fa-calendar"></i>  {{ article.date_created|date:"d.m.Y" }}
                    </span>
                </div>
            </div>
            <div class="article-content">
                <div class="article-text">
                    <p>{{ article.content|linebreaks }}</p>
                </div>
            </div>
            {% if images %}
            <br>
            <h3 class="mb-3">Fotogalerie</h3>
            <div class="row">
                {% for img in images %}
                <div class="col-md-4 mb-3">
                    <a href="/{{ img.image }}" data-lightbox="article-gallery">
                        <img src="/{{ img.image }}" alt="Fotka {{ forloop.counter }}" class="img-fluid rounded">
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            
            <div class="mt-4">
                <a href="{% url 'article_list' %}" class="btn btn-outline-primary">&laquo; Zpět na přehled článků</a>
            </div>
        </article>
    </div>
</body>
{% endblock %}