{% extends 'base.html' %}
{% load static %}

{% block title %}DTJ Santoška - Historie{% endblock %}


{% block content %}
    <body style="--bs-body-bg: var(--bs-light);width: 100%;background: rgb(248, 249, 250);">
    <h1 class="text-center" style="margin-top: 30px;margin-bottom: 23px;"><strong>Historie</strong></h1>
    <div class="timeline">
        <div class="ml-container left">
            <div class="content">
                <h2><strong>1900</strong></h2>
                <p>Podnět pro založení DTJ na Smíchově vzešel z Dělnické vzdělávací besedy na Smíchově v roce 1900, kdy mladí členové volali po "nových směrech" výchovy tělesné a duševní.</p>
            </div>
        </div>
        <div class="ml-container right">
            <div class="content">
                <h2><strong>1901</strong></h2>
                <p>Zvolili přípravný výbor a domluvili se s DTJ v Praze II, že založí odbočku na Smíchově. 1. prosince 1901 byla smíchovská odbočka ustanovena. Tělocvična byla pronajatav sále restaurace U zvonu.&nbsp; Kromě cvičení tam byly pořádány přednášky a společenské zábavy</p>
            </div>
        </div>
    </div>
    <div class="timeline">
        <div class="ml-container left">
            <div class="content">
                <h2><strong>1905</strong></h2>
                <p>Začalo se nakupovat první sportovní nářadí. po mimořádné valné hromadě se odbočka v r. 1905 přeměnila na samostatnou DTJ Smíchov.</p>
            </div>
        </div>
        <div class="ml-container right">
            <div class="content">
                <h2><strong>1911</strong></h2>
                <p>Pořádala přednášky, propagační výlety, její knihovna měla 355 svazků. Cvičilo se v různých propůjčených, zpravidla hostinských sálech. První veřejná oslava se konala již v roce 1911 na propůjčeném pozemku, v místě dnešního areálu DTJ Santoška. Dle dobových údajů to bylo vystoupení velmi úspěšné. V témže roce byl ustaven komitét stavebního družstva DTJ Smíchov, jehož úkolem bylo vyhledat místo pro letní cvičiště a sbírat na fond pro zakoupení pozemku.</p>
            </div>
        </div>
    </div>
    <div style="padding-right: 40PX;padding-left: 40PX;">
        <h1 class="text-center" style="margin-top: 50px;margin-bottom: 30px;"><strong>Jak vznikl novodobý název naší jednoty?</strong></h1>
        <p class="text-center" style="margin-right: 20px;margin-left: 20px;padding-right: 0PX;padding-left: 0PX;">Lze říci, že částečně omylem. bývalí členové naší jednoty, tj. původně smíchovské DTJ i staří členové DTJ Košíře a Jinonic vždy hovořili o soutěžích, zápasech, akcích, pořádaných "na Santošce", tj. na hřišti DTJ Smíchov. Ve stanovách pro registraci nové jednoty na Ministerstvu vnitra ČR bylo proto uvedeno, že se jedná o obnovenou DTJ Santoška. Původně se jednota však formálně nazývala DTJ Smíchov, resp. Smíchov I a na dresech bylo velké "S". Což nás také trochu oklamalo, brali jsem to jako Santoška.</p>
    </div>
    </body>
{% endblock %}